.dropdown-content li {
  min-height: 43px;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: #fff;
}

.dropdown-content .collapsible-body,
.dropdown-content li.collection-item {
  padding: 0;
}

.dropdown-content a.btn-flat {
  height: 100%;
}

.dropdown-content .collapsible-header,
.dropdown-content .btn-flat {
  text-align: center;
}

.dropdown-content .collapsible-header {
  font-size: 13pt;
}

.dropdown-content .collapsible-body li a.btn-flat {
  color: #2E7D32;
}

.dropdown-button {
  width: 100%;
}
