.chip {
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 5px;
}

.chip .close {
  height: 1.5rem !important;
  width: 1.2rem !important;
  line-height: 1.5rem;
  padding-left: 0;
  text-align: center;
}

.chips .input {
  width: 30px !important;
}

input:disabled {
  border-bottom-width: 0 !important;
}

.chip,
.chip.selected {
  background-color: #388e3c !important;
  color: #fff;
}

.card h6 {
  padding-top: 1rem;
}
