/* --- Common --- */
ons-card ons-list {
  counter-reset: item;
}

ons-card ons-list:not(.no-count) > ons-list-item::before {
  content: counter(item) ". ";
  counter-increment: item;
  margin-right: .5rem;
}

.collapsible-body {
  display: block;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  border-bottom-width: 0;
}

.collapsible-body > span ul,
.card-reveal > div {
  padding: 20px;
}

.mr-5 {
  margin-right: .5rem;
}

.center.toolbar__center {
  font-size: 14pt;
}

.toolbar-button--material:active {
  background-color: rgba(0, 0, 0, 0);
}

button.button--material--flat,
button.button--material--flat:focus {
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #343434;
  font-weight: 500 !important;
  outline-color: #343434;
  padding: 0 32px !important;
}

ons-splitter-side .button--material--flat:active,
.dark-text {
  color: #343434;
}

ons-splitter-side ons-list-item i {
  margin-right: 32px;
  color: rgba(0, 0, 0, 0.54);
}

div.center.list-item__center.list-item--material__center {
  padding: 0;
  background-image: none;
}

ons-splitter-side ons-list-item {
  padding: 0 !important;
}

.sidenav-top {
  padding: 32px 16px 16px 16px !important;
  background-color: #388E3C;
  color: #fff;
  font-size: 14px;
  margin-bottom: .5rem;
}

.sidenav-top .list-item__title {
  font-weight: 500 !important;
}

div.divider {
  height: 1px;
  background-color: #ddd;
  margin-top: .5rem;
}

ons-splitter-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

ons-button.button--large:not(.button--material--flat) {
  background-color: #43A047;
}

ons-toast {
  position: fixed;
}

ons-toast ul {
  margin: 0;
  padding: 10px 0;
}

.centered {
  text-align: center;
}

.double-lesson {
  height: 72px;
}

.double-lesson > .list-item__center {
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5px;
}

.double-lesson .group {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.double-lesson .divider {
  margin: 0;
  width: 100%;
  background-color: #eee;
}

/* --- Index --- */
ons-card > .title,
ons-action-sheet-button,
.action-sheet-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

ons-action-sheet-button.close-btn,
.action-sheet-title {
  justify-content: flex-start;
}

ons-action-sheet i {
  margin-right: 1rem;
}

.card-offset {
  margin: 0 18px;
}

ons-action-sheet {
  position: fixed;
}

div.action-sheet-mask {
  touch-action: none;
}


/* --- Changes --- */
ons-list-item ons-list-header {
  padding: 12px 8px 0 !important;
}

/* --- Classes --- */
.right .valign-wrapper {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.dropdown-content {
  display: block;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

ons-button.active + .dropdown-content {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content .collapsible-body,
.dropdown-content li.collection-item {
  padding: 0;
}

.dropdown-content .collapsible-header {
  text-align: center;
}

.dropdown-content .collapsible-header {
  font-size: 13pt;
}

.collapsible ons-button.button--material--flat {
  width: 100%;
  color: #2E7D32;
  height: 100%;
}

.col.m12 > ons-button {
  margin: 8px 0;
}

/* --- Compare --- */
.chips .chip {
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 5px;
}

.chips .chip .close {
  height: 1.5rem !important;
  width: 1.2rem !important;
  line-height: 1.5rem;
  padding-left: 0;
  text-align: center;
}

.chips {
  min-height: 30px;
}

input:disabled {
  border-bottom-width: 0 !important;
}

.chips .chip,
.chips .chip.selected {
  background-color: #388e3c !important;
  color: #fff;
}

.chips .card h6 {
  padding-top: 1rem;
}

/* --- Teachers --- */
.text-input__label {
  font-size: 1rem;
  padding-left: 1rem;
}

.text-input__container {
  padding:  0 .5rem .5rem;
}

.text-input {
  padding-bottom: .5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

ons-input {
  width: 100%;
}

.help-text {
  margin-left: 10px;
  margin-right: 10px;
}

.help-title {
  color: #2E7D32;
}

blockquote {
  border-left: 5px solid #4CAF50;
}

/* --- Rooms --- */
.collapsible-body .divider {
  margin-bottom: .5rem;
}

.collapsible-body .chip:not(.taken) {
  background-color: #c8e6c9;
}

ons-navigator[page="rooms.html"] .collapsible-body > div {
  padding: 1rem;
}

.alert-dialog .alert-dialog-title--material {
  color: #2E7D32;
}

ons-alert-dialog .valign-wrapper {
  height: 35px;
  justify-content: space-between;
}

.alert-dialog-footer {
  padding-bottom: 1rem;
}

.alert-dialog-footer ons-button {
  float: right;
  text-transform: none;
  font-weight: 400;
}

.block {
  display: block;
  margin-bottom: .3rem;
}

ons-input[type=radio],
ons-input[type=checkbox] {
  display: inline;
}

ons-input[type=radio] + label {
  margin-right: .5rem;
}

ons-input[type=checkbox] span.checkbox__checkmark::after {
  top: 25%;
  left: 20%;
}

ons-input[type=radio] + label,
ons-input[type=checkbox] + label {
  font-size: 9pt;
}

#occupied p {
  margin: 0;
  font-size: 14px;
}