a.brand-logo {
  font-size: 14pt;
}

a.btn-flat {
  margin: 0 !important;
  text-transform: none;
}

.collapsible {
  counter-reset: item
}

.collapsible div.collapsible-header::before {
  content: counter(item) ". ";
  counter-increment: item;
}

span.new.badge::after {
  content: '';
}

.lesson-info {
    list-style-type: none;
}
