.divider {
  margin-bottom: .5rem;
}

.chip:not(.taken) {
  background-color: #c8e6c9;
}

input + label {
  font-size: 9pt !important;
}

.modal .modal-content {
  padding: 1rem 1.5rem;
}

label:not(.checkbox-label)::before,
label::after {
  border-color: #388e3c !important;
}

input:checked + label::after {
  background-color: #388e3c !important;
}

form p {
  margin-top: .5rem !important;
}

div.valign-wrapper {
  height: 35px;
  justify-content: space-between;
}